<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InventoryManagementSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <InventoryManagementSystem.Properties.Settings>
            <setting name="RetentionEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RetentionYears" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="WarnIntervalMonths" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="LastWarnDate" serializeAs="String">
                <value />
            </setting>
        </InventoryManagementSystem.Properties.Settings>
    </userSettings>
</configuration>