USE [master]
GO
/****** Object:  Database [InventoryDB]    Script Date: 5/18/2026 9:42:04 PM ******/
CREATE DATABASE [InventoryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InventoryDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\InventoryDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InventoryDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\InventoryDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InventoryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InventoryDB]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 5/18/2026 9:42:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[SerialNumber] [nvarchar](50) NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[SerialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductItems]    Script Date: 5/18/2026 9:42:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductItems](
	[ItemSerialNumber] [nvarchar](80) NOT NULL,
	[ProductSerial] [nvarchar](50) NOT NULL,
	[IsInStock] [bit] NOT NULL,
	[DateAdded] [datetime] NOT NULL,
	[DateRemoved] [datetime] NULL,
	[BatchMovementId] [int] NULL,
 CONSTRAINT [PK_ProductItems] PRIMARY KEY CLUSTERED 
(
	[ItemSerialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ProductStock]    Script Date: 5/18/2026 9:42:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- VIEW: vw_ProductStock
-- Purpose : Computes Quantity and StockStatus from ProductItems.
-- ============================================================
CREATE VIEW [dbo].[vw_ProductStock] AS
SELECT
    p.SerialNumber,
    p.ProductName,
    p.CategoryName,
    p.Price,
    COUNT(CASE WHEN pi.IsInStock = 1 THEN 1 END)          AS Quantity,
    CASE
        WHEN COUNT(CASE WHEN pi.IsInStock = 1 THEN 1 END) = 0
            THEN 'Out of Stock'
        WHEN COUNT(CASE WHEN pi.IsInStock = 1 THEN 1 END) <= 10
            THEN 'Low Stock'
        ELSE 'In Stock'
    END                                                    AS StockStatus
FROM Products p
LEFT JOIN ProductItems pi ON pi.ProductSerial = p.SerialNumber
GROUP BY
    p.SerialNumber,
    p.ProductName,
    p.CategoryName,
    p.Price;
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 5/18/2026 9:42:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[LogTimestamp] [datetime] NOT NULL,
	[ActionType] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_AuditLog] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 5/18/2026 9:42:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategorySpecTemplates]    Script Date: 5/18/2026 9:42:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategorySpecTemplates](
	[CategoryName] [nvarchar](100) NOT NULL,
	[SpecKey] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CategorySpecTemplates] PRIMARY KEY CLUSTERED 
(
	[CategoryName] ASC,
	[SpecKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSpecifications]    Script Date: 5/18/2026 9:42:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSpecifications](
	[ProductSerial] [nvarchar](50) NOT NULL,
	[SpecKey] [nvarchar](100) NOT NULL,
	[SpecValue] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_ProductSpecs] PRIMARY KEY CLUSTERED 
(
	[ProductSerial] ASC,
	[SpecKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockMovements]    Script Date: 5/18/2026 9:42:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockMovements](
	[MovementId] [int] IDENTITY(1,1) NOT NULL,
	[ProductSerial] [nvarchar](50) NOT NULL,
	[MovementType] [nvarchar](20) NOT NULL,
	[QuantityChanged] [int] NOT NULL,
	[MovementDate] [datetime] NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Notes] [nvarchar](500) NULL,
	[WarrantyMonths] [int] NULL,
	[SupplierName] [nvarchar](150) NULL,
 CONSTRAINT [PK_StockMovements] PRIMARY KEY CLUSTERED 
(
	[MovementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StorageZones]    Script Date: 5/18/2026 9:42:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StorageZones](
	[ZoneName] [nvarchar](100) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_StorageZones] PRIMARY KEY CLUSTERED 
(
	[ZoneName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 5/18/2026 9:42:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierName] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[SupplierName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/18/2026 9:42:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](30) NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[ProfilePhoto] [varbinary](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AuditLog] ON 

INSERT [dbo].[AuditLog] ([LogId], [LogTimestamp], [ActionType], [Description], [Username]) VALUES (1, CAST(N'2026-05-18T15:07:51.700' AS DateTime), N'USER ADDED', N'New user: tariq.sales (Employee)', N'System')
INSERT [dbo].[AuditLog] ([LogId], [LogTimestamp], [ActionType], [Description], [Username]) VALUES (2, CAST(N'2026-05-18T15:07:51.700' AS DateTime), N'USER ADDED', N'New user: omar.proc (Employee)', N'System')
INSERT [dbo].[AuditLog] ([LogId], [LogTimestamp], [ActionType], [Description], [Username]) VALUES (3, CAST(N'2026-05-18T15:07:51.700' AS DateTime), N'USER ADDED', N'New user: sara.reports (Employee)', N'System')
SET IDENTITY_INSERT [dbo].[AuditLog] OFF
GO
INSERT [dbo].[Categories] ([CategoryName]) VALUES (N'234')
INSERT [dbo].[Categories] ([CategoryName]) VALUES (N'Accessories')
INSERT [dbo].[Categories] ([CategoryName]) VALUES (N'hh')
GO
INSERT [dbo].[CategorySpecTemplates] ([CategoryName], [SpecKey]) VALUES (N'234', N'صقثص')
INSERT [dbo].[CategorySpecTemplates] ([CategoryName], [SpecKey]) VALUES (N'234', N'صقثصثق')
GO
INSERT [dbo].[ProductItems] ([ItemSerialNumber], [ProductSerial], [IsInStock], [DateAdded], [DateRemoved], [BatchMovementId]) VALUES (N'24224ل-01', N'24224ل', 0, CAST(N'2026-05-18T18:36:24.793' AS DateTime), CAST(N'2026-05-18T18:36:41.900' AS DateTime), 19)
INSERT [dbo].[ProductItems] ([ItemSerialNumber], [ProductSerial], [IsInStock], [DateAdded], [DateRemoved], [BatchMovementId]) VALUES (N'24224ل-02', N'24224ل', 0, CAST(N'2026-05-18T18:36:24.793' AS DateTime), CAST(N'2026-05-18T18:36:41.900' AS DateTime), 19)
INSERT [dbo].[ProductItems] ([ItemSerialNumber], [ProductSerial], [IsInStock], [DateAdded], [DateRemoved], [BatchMovementId]) VALUES (N'24224ل-03', N'24224ل', 0, CAST(N'2026-05-18T18:36:24.793' AS DateTime), CAST(N'2026-05-18T18:36:41.900' AS DateTime), 19)
GO
INSERT [dbo].[Products] ([SerialNumber], [ProductName], [CategoryName], [Price]) VALUES (N'24224ل', N'صقثثقص', N'234', CAST(232.00 AS Decimal(10, 2)))
INSERT [dbo].[Products] ([SerialNumber], [ProductName], [CategoryName], [Price]) VALUES (N'32432', N'جهاز', N'Accessories', CAST(19.00 AS Decimal(10, 2)))
INSERT [dbo].[Products] ([SerialNumber], [ProductName], [CategoryName], [Price]) VALUES (N'ACC-KEY-K8P', N'فلللل', N'Accessories', CAST(110.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[ProductSpecifications] ([ProductSerial], [SpecKey], [SpecValue]) VALUES (N'24224ل', N'صقثص', N'44')
INSERT [dbo].[ProductSpecifications] ([ProductSerial], [SpecKey], [SpecValue]) VALUES (N'24224ل', N'صقثصثق', N'22')
INSERT [dbo].[ProductSpecifications] ([ProductSerial], [SpecKey], [SpecValue]) VALUES (N'ACC-KEY-K8P', N'Connection', N'Bluetooth')
GO
SET IDENTITY_INSERT [dbo].[StockMovements] ON 

INSERT [dbo].[StockMovements] ([MovementId], [ProductSerial], [MovementType], [QuantityChanged], [MovementDate], [Username], [Notes], [WarrantyMonths], [SupplierName]) VALUES (1, N'APP-MBP-2023', N'StockIn', 24, CAST(N'2026-05-08T15:07:51.863' AS DateTime), N'ahmed.clerk', N'Initial MacBook Pro batch', 24, N'TechSource Inc.')
INSERT [dbo].[StockMovements] ([MovementId], [ProductSerial], [MovementType], [QuantityChanged], [MovementDate], [Username], [Notes], [WarrantyMonths], [SupplierName]) VALUES (2, N'APP-IPH-2023', N'StockIn', 8, CAST(N'2026-05-11T15:07:51.863' AS DateTime), N'ahmed.clerk', N'iPhone 15 Pro Max shipment', 12, N'Global Electronics')
INSERT [dbo].[StockMovements] ([MovementId], [ProductSerial], [MovementType], [QuantityChanged], [MovementDate], [Username], [Notes], [WarrantyMonths], [SupplierName]) VALUES (3, N'SAM-S24U-001', N'StockIn', 15, CAST(N'2026-05-12T15:07:51.863' AS DateTime), N'ahmed.clerk', N'Samsung Galaxy S24 batch', 12, N'Samsung Electronics')
SET IDENTITY_INSERT [dbo].[StockMovements] OFF
GO
INSERT [dbo].[StorageZones] ([ZoneName], [CategoryName]) VALUES (N'Aisle A-1: Laptops', N'Laptops')
INSERT [dbo].[StorageZones] ([ZoneName], [CategoryName]) VALUES (N'Aisle B-2: Phones', N'Phones')
INSERT [dbo].[StorageZones] ([ZoneName], [CategoryName]) VALUES (N'Aisle C-3: Accessories', N'Accessories')
GO
INSERT [dbo].[Suppliers] ([SupplierName], [Phone], [Email], [IsActive]) VALUES (N'Global Electronics', N'555-020200', N'contact@globalelec.com', 1)
INSERT [dbo].[Suppliers] ([SupplierName], [Phone], [Email], [IsActive]) VALUES (N'Mega Traders', N'555-040400', N'contact@megatraders.com', 1)
INSERT [dbo].[Suppliers] ([SupplierName], [Phone], [Email], [IsActive]) VALUES (N'Office Depot', N'555-030300', N'contact@officedepot.com', 0)
GO
INSERT [dbo].[Users] ([Username], [Password], [Role], [IsAdmin], [ProfilePhoto]) VALUES (N'ahmed.clerk', N'123', N'Employee', 0, NULL)
INSERT [dbo].[Users] ([Username], [Password], [Role], [IsAdmin], [ProfilePhoto]) VALUES (N'omar.proc', N'123', N'Employee', 0, NULL)
GO
ALTER TABLE [dbo].[AuditLog] ADD  CONSTRAINT [DF__AuditLog__LogTim__5535A963]  DEFAULT (getdate()) FOR [LogTimestamp]
GO
ALTER TABLE [dbo].[ProductItems] ADD  CONSTRAINT [DF__ProductIt__IsInS__4F7CD00D]  DEFAULT ((1)) FOR [IsInStock]
GO
ALTER TABLE [dbo].[ProductItems] ADD  CONSTRAINT [DF__ProductIt__DateA__5070F446]  DEFAULT (getdate()) FOR [DateAdded]
GO
ALTER TABLE [dbo].[StockMovements] ADD  CONSTRAINT [DF__StockMove__Movem__49C3F6B7]  DEFAULT (getdate()) FOR [MovementDate]
GO
ALTER TABLE [dbo].[Suppliers] ADD  CONSTRAINT [DF__Suppliers__IsAct__3D5E1FD2]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__IsAdmin__38996AB5]  DEFAULT ((0)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[CategorySpecTemplates]  WITH CHECK ADD  CONSTRAINT [FK_CST_Category] FOREIGN KEY([CategoryName])
REFERENCES [dbo].[Categories] ([CategoryName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategorySpecTemplates] CHECK CONSTRAINT [FK_CST_Category]
GO
ALTER TABLE [dbo].[ProductItems]  WITH CHECK ADD  CONSTRAINT [FK_PI_Movement] FOREIGN KEY([BatchMovementId])
REFERENCES [dbo].[StockMovements] ([MovementId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ProductItems] CHECK CONSTRAINT [FK_PI_Movement]
GO
ALTER TABLE [dbo].[ProductItems]  WITH CHECK ADD  CONSTRAINT [FK_PI_Product] FOREIGN KEY([ProductSerial])
REFERENCES [dbo].[Products] ([SerialNumber])
GO
ALTER TABLE [dbo].[ProductItems] CHECK CONSTRAINT [FK_PI_Product]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryName])
REFERENCES [dbo].[Categories] ([CategoryName])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[ProductSpecifications]  WITH CHECK ADD  CONSTRAINT [FK_Specs_Product] FOREIGN KEY([ProductSerial])
REFERENCES [dbo].[Products] ([SerialNumber])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductSpecifications] CHECK CONSTRAINT [FK_Specs_Product]
GO
ALTER TABLE [dbo].[StockMovements]  WITH CHECK ADD  CONSTRAINT [FK_SM_Product] FOREIGN KEY([ProductSerial])
REFERENCES [dbo].[Products] ([SerialNumber])
GO
ALTER TABLE [dbo].[StockMovements] CHECK CONSTRAINT [FK_SM_Product]
GO
ALTER TABLE [dbo].[StockMovements]  WITH CHECK ADD  CONSTRAINT [FK_SM_Supplier] FOREIGN KEY([SupplierName])
REFERENCES [dbo].[Suppliers] ([SupplierName])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[StockMovements] CHECK CONSTRAINT [FK_SM_Supplier]
GO
ALTER TABLE [dbo].[StockMovements]  WITH CHECK ADD  CONSTRAINT [FK_SM_User] FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[StockMovements] CHECK CONSTRAINT [FK_SM_User]
GO
ALTER TABLE [dbo].[StorageZones]  WITH CHECK ADD  CONSTRAINT [FK_Zone_Category] FOREIGN KEY([CategoryName])
REFERENCES [dbo].[Categories] ([CategoryName])
GO
ALTER TABLE [dbo].[StorageZones] CHECK CONSTRAINT [FK_Zone_Category]
GO
ALTER TABLE [dbo].[StockMovements]  WITH CHECK ADD  CONSTRAINT [CK_SM_Type] CHECK  (([MovementType]='ReturnToSupplier' OR [MovementType]='Restock' OR [MovementType]='StockOut' OR [MovementType]='StockIn'))
GO
ALTER TABLE [dbo].[StockMovements] CHECK CONSTRAINT [CK_SM_Type]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([Role]='Employee' OR [Role]='System Administrator'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
/****** Object:  Trigger [dbo].[tr_Products_Audit]    Script Date: 5/18/2026 9:42:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- TRIGGER 2: tr_Products_Audit
-- Table  : Products
-- Event  : AFTER INSERT, DELETE
-- WHY    : Tracks product catalogue changes — when a new
--          product is registered or an existing one removed.
-- NOTE   : Username is recorded as 'System' because the
--          Products table does not carry a Username column.
--          The logged-in user context is managed at app level.
-- Sample logs:
--   'PRODUCT ADDED'   → 'New product: [APP-MBP-2023] MacBook Pro 14" M3'
--   'PRODUCT DELETED' → 'Product removed: [APP-MBP-2023] MacBook Pro 14" M3'
-- ============================================================
CREATE TRIGGER [dbo].[tr_Products_Audit]
ON [dbo].[Products]
AFTER INSERT, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    -- INSERT branch
    IF EXISTS (SELECT 1 FROM inserted)
       AND NOT EXISTS (SELECT 1 FROM deleted)
    BEGIN
        INSERT INTO AuditLog (ActionType, Description, Username)
        SELECT
            'PRODUCT ADDED',
            'New product: [' + i.SerialNumber + '] ' + i.ProductName
                + ' | Category: ' + i.CategoryName
                + ' | Price: '    + CAST(i.Price AS VARCHAR(20)),
            'System'
        FROM inserted i;
    END

    -- DELETE branch
    IF EXISTS (SELECT 1 FROM deleted)
       AND NOT EXISTS (SELECT 1 FROM inserted)
    BEGIN
        INSERT INTO AuditLog (ActionType, Description, Username)
        SELECT
            'PRODUCT DELETED',
            'Product removed: [' + d.SerialNumber + '] ' + d.ProductName,
            'System'
        FROM deleted d;
    END
END;
GO
ALTER TABLE [dbo].[Products] ENABLE TRIGGER [tr_Products_Audit]
GO
/****** Object:  Trigger [dbo].[tr_StockMovements_Audit]    Script Date: 5/18/2026 9:42:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- TRIGGER 1: tr_StockMovements_Audit
-- Table  : StockMovements
-- Event  : AFTER INSERT
-- WHY #1 : This is the most important trigger — every stock
--          operation (in/out/restock/return) is recorded.
-- WHY #2 : Username is already on the inserted row, so the
--          trigger knows exactly who performed the operation.
-- Sample log:
--   ActionType  = 'STOCK STOCKIN'
--   Description = 'Product [APP-MBP-2023]: +10 units. Supplier: TechSource Inc.'
--   Username    = 'ahmed.clerk'
-- ============================================================
CREATE TRIGGER [dbo].[tr_StockMovements_Audit]
ON [dbo].[StockMovements]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO AuditLog (ActionType, Description, Username)
    SELECT
        'STOCK ' + UPPER(i.MovementType),
        'Product [' + i.ProductSerial + ']: '
            + CAST(i.QuantityChanged AS VARCHAR(10)) + ' units'
            + ISNULL('. Supplier: '  + i.SupplierName, '')
            + ISNULL('. Notes: '     + i.Notes,        ''),
        ISNULL(i.Username, 'System')
    FROM inserted i;
END;
GO
ALTER TABLE [dbo].[StockMovements] ENABLE TRIGGER [tr_StockMovements_Audit]
GO
/****** Object:  Trigger [dbo].[tr_Suppliers_Audit]    Script Date: 5/18/2026 9:42:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- TRIGGER 4: tr_Suppliers_Audit
-- Table  : Suppliers
-- Event  : AFTER INSERT, DELETE
-- WHY    : Supplier changes affect procurement decisions —
--          knowing when a supplier was added or deactivated
--          is important for operational auditing.
-- Sample logs:
--   'SUPPLIER ADDED'   → 'New supplier: TechSource Inc. | Phone: 555-010100'
--   'SUPPLIER DELETED' → 'Supplier removed: TechSource Inc.'
-- ============================================================
CREATE TRIGGER [dbo].[tr_Suppliers_Audit]
ON [dbo].[Suppliers]
AFTER INSERT, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    -- INSERT branch
    IF EXISTS (SELECT 1 FROM inserted)
       AND NOT EXISTS (SELECT 1 FROM deleted)
    BEGIN
        INSERT INTO AuditLog (ActionType, Description, Username)
        SELECT
            'SUPPLIER ADDED',
            'New supplier: ' + i.SupplierName
                + ISNULL(' | Phone: ' + i.Phone, '')
                + ISNULL(' | Email: ' + i.Email, ''),
            'System'
        FROM inserted i;
    END

    -- DELETE branch
    IF EXISTS (SELECT 1 FROM deleted)
       AND NOT EXISTS (SELECT 1 FROM inserted)
    BEGIN
        INSERT INTO AuditLog (ActionType, Description, Username)
        SELECT
            'SUPPLIER DELETED',
            'Supplier removed: ' + d.SupplierName,
            'System'
        FROM deleted d;
    END
END;
GO
ALTER TABLE [dbo].[Suppliers] ENABLE TRIGGER [tr_Suppliers_Audit]
GO
/****** Object:  Trigger [dbo].[tr_Users_Audit]    Script Date: 5/18/2026 9:42:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- TRIGGER 3: tr_Users_Audit
-- Table  : Users
-- Event  : AFTER INSERT, DELETE
-- WHY    : Security-critical — every account creation or
--          removal must be traceable for compliance.
-- Sample logs:
--   'USER ADDED'   → 'New user: ahmed.clerk (Employee)'
--   'USER DELETED' → 'User removed: ahmed.clerk (Employee)'
-- ============================================================
CREATE TRIGGER [dbo].[tr_Users_Audit]
ON [dbo].[Users]
AFTER INSERT, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    -- INSERT branch
    IF EXISTS (SELECT 1 FROM inserted)
       AND NOT EXISTS (SELECT 1 FROM deleted)
    BEGIN
        INSERT INTO AuditLog (ActionType, Description, Username)
        SELECT
            'USER ADDED',
            'New user: ' + i.Username + ' (' + i.Role + ')',
            'System'
        FROM inserted i;
    END

    -- DELETE branch
    IF EXISTS (SELECT 1 FROM deleted)
       AND NOT EXISTS (SELECT 1 FROM inserted)
    BEGIN
        INSERT INTO AuditLog (ActionType, Description, Username)
        SELECT
            'USER DELETED',
            'User removed: ' + d.Username + ' (' + d.Role + ')',
            'System'
        FROM deleted d;
    END
END;
GO
ALTER TABLE [dbo].[Users] ENABLE TRIGGER [tr_Users_Audit]
GO
USE [master]
GO
