USE [master]
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyEventProcessingLogin##]    Script Date: 5/28/2026 1:17:40 PM ******/
CREATE LOGIN [##MS_PolicyEventProcessingLogin##] WITH PASSWORD=N'8SOVoU3Cc6GkWPUSSj9ViJCARiIQsnwjVkUH6RS4W3E=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyEventProcessingLogin##] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyTsqlExecutionLogin##]    Script Date: 5/28/2026 1:17:40 PM ******/
CREATE LOGIN [##MS_PolicyTsqlExecutionLogin##] WITH PASSWORD=N'SazlPzLshSfZ5LYHeKervl/MA/lYTmDCvgit3wh5Xxo=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyTsqlExecutionLogin##] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [AppUser]    Script Date: 5/28/2026 1:17:40 PM ******/
CREATE LOGIN [AppUser] WITH PASSWORD=N'MGUR2zp/nxpyMfoBqlnGxOniudjXFr+jat+JtZq5rQI=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [AppUser] DISABLE
GO
/****** Object:  Login [BARAAH-PC\zaroug]    Script Date: 5/28/2026 1:17:40 PM ******/
CREATE LOGIN [BARAAH-PC\zaroug] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT AUTHORITY\SYSTEM]    Script Date: 5/28/2026 1:17:40 PM ******/
CREATE LOGIN [NT AUTHORITY\SYSTEM] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT Service\MSSQLSERVER]    Script Date: 5/28/2026 1:17:40 PM ******/
CREATE LOGIN [NT Service\MSSQLSERVER] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLSERVERAGENT]    Script Date: 5/28/2026 1:17:40 PM ******/
CREATE LOGIN [NT SERVICE\SQLSERVERAGENT] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLTELEMETRY]    Script Date: 5/28/2026 1:17:40 PM ******/
CREATE LOGIN [NT SERVICE\SQLTELEMETRY] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLWriter]    Script Date: 5/28/2026 1:17:40 PM ******/
CREATE LOGIN [NT SERVICE\SQLWriter] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\Winmgmt]    Script Date: 5/28/2026 1:17:40 PM ******/
CREATE LOGIN [NT SERVICE\Winmgmt] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [AppUser]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [BARAAH-PC\zaroug]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT Service\MSSQLSERVER]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLSERVERAGENT]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLWriter]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\Winmgmt]
GO
USE [InventoryDBv3]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 5/28/2026 1:17:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Categories] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Products]    Script Date: 5/28/2026 1:17:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductSerialNumber] [int] NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductSerialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Products] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[ProductItems]    Script Date: 5/28/2026 1:17:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductItems](
	[ItemID] [int] NOT NULL,
	[ProductSerialNumber] [int] NOT NULL,
	[IsInStock] [bit] NOT NULL,
	[DateAdded] [datetime] NOT NULL,
	[DateRemoved] [datetime] NULL,
	[BatchMovementID] [int] NULL,
 CONSTRAINT [PK_ProductItems] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[ProductItems] TO  SCHEMA OWNER 
GO
/****** Object:  View [dbo].[vw_ProductStock]    Script Date: 5/28/2026 1:17:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------- View ----------
CREATE VIEW [dbo].[vw_ProductStock] AS
SELECT
    p.ProductSerialNumber,
    p.ProductName,
    p.CategoryID,
    c.CategoryName,
    p.Price,
    COUNT(CASE WHEN pi.IsInStock = 1 THEN 1 END)              AS Quantity,
    CASE
        WHEN COUNT(CASE WHEN pi.IsInStock = 1 THEN 1 END) = 0
            THEN 'Out of Stock'
        WHEN COUNT(CASE WHEN pi.IsInStock = 1 THEN 1 END) <= 10
            THEN 'Low Stock'
        ELSE 'In Stock'
    END                                                       AS StockStatus
FROM Products p
INNER JOIN Categories c    ON c.CategoryID           = p.CategoryID
LEFT  JOIN ProductItems pi ON pi.ProductSerialNumber = p.ProductSerialNumber
GROUP BY
    p.ProductSerialNumber,
    p.ProductName,
    p.CategoryID,
    c.CategoryName,
    p.Price;

GO
ALTER AUTHORIZATION ON [dbo].[vw_ProductStock] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 5/28/2026 1:17:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[LogTimestamp] [datetime] NOT NULL,
	[ActionType] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[Username] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_AuditLog] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[AuditLog] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[CategorySpecTemplates]    Script Date: 5/28/2026 1:17:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategorySpecTemplates](
	[TemplateID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[SpecKey] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_CategorySpecTemplates] PRIMARY KEY CLUSTERED 
(
	[TemplateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[CategorySpecTemplates] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[DataRetentionSettings]    Script Date: 5/28/2026 1:17:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataRetentionSettings](
	[Id] [int] NOT NULL,
	[RetentionYears] [int] NOT NULL,
	[WarnIntervalMonths] [int] NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[LastWarnDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[DataRetentionSettings] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[ProductSpecifications]    Script Date: 5/28/2026 1:17:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSpecifications](
	[SpecID] [int] IDENTITY(1,1) NOT NULL,
	[ProductSerialNumber] [int] NOT NULL,
	[SpecValue] [nvarchar](255) NOT NULL,
	[TemplateID] [int] NOT NULL,
 CONSTRAINT [PK_ProductSpecifications] PRIMARY KEY CLUSTERED 
(
	[SpecID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[ProductSpecifications] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[StockMovements]    Script Date: 5/28/2026 1:17:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockMovements](
	[MovementID] [int] IDENTITY(1,1) NOT NULL,
	[ProductSerialNumber] [int] NOT NULL,
	[MovementType] [nvarchar](255) NOT NULL,
	[QuantityChanged] [int] NOT NULL,
	[MovementDate] [datetime] NOT NULL,
	[EmployeeID] [int] NULL,
	[SupplierTaxNumber] [int] NULL,
	[WarrantyMonths] [int] NULL,
	[Notes] [nvarchar](255) NULL,
 CONSTRAINT [PK_StockMovements] PRIMARY KEY CLUSTERED 
(
	[MovementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[StockMovements] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[StorageZones]    Script Date: 5/28/2026 1:17:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StorageZones](
	[ZoneID] [int] IDENTITY(1,1) NOT NULL,
	[ZoneName] [nvarchar](255) NOT NULL,
	[CategoryID] [int] NOT NULL,
 CONSTRAINT [PK_StorageZones] PRIMARY KEY CLUSTERED 
(
	[ZoneID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[StorageZones] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 5/28/2026 1:17:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierTaxNumber] [int] NOT NULL,
	[SupplierName] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[SupplierTaxNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Suppliers] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/28/2026 1:17:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[EmployeeID] [int] NOT NULL,
	[Username] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](255) NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[ProfilePhoto] [varbinary](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Users] TO  SCHEMA OWNER 
GO
SET IDENTITY_INSERT [dbo].[AuditLog] ON 

INSERT [dbo].[AuditLog] ([LogID], [LogTimestamp], [ActionType], [Description], [Username]) VALUES (1, CAST(N'2026-05-25T10:00:00.000' AS DateTime), N'USER ADDED', N'New user: suad.admin (System Administrator) — EmployeeID: 199012450', N'System')
INSERT [dbo].[AuditLog] ([LogID], [LogTimestamp], [ActionType], [Description], [Username]) VALUES (2, CAST(N'2026-05-25T10:00:00.000' AS DateTime), N'USER ADDED', N'New user: ahmed.clerk (Employee) — EmployeeID: 19985692334781', N'System')
INSERT [dbo].[AuditLog] ([LogID], [LogTimestamp], [ActionType], [Description], [Username]) VALUES (3, CAST(N'2026-05-25T10:00:00.000' AS DateTime), N'USER ADDED', N'New user: fatima.clerk (Employee) — EmployeeID: 199856923', N'System')
SET IDENTITY_INSERT [dbo].[AuditLog] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (1, N'Laptops')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (2, N'Printers')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (3, N'Smart Phones')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[CategorySpecTemplates] ON 

INSERT [dbo].[CategorySpecTemplates] ([TemplateID], [CategoryID], [SpecKey]) VALUES (5, 1, N'Battery')
INSERT [dbo].[CategorySpecTemplates] ([TemplateID], [CategoryID], [SpecKey]) VALUES (2, 1, N'Proccessor')
INSERT [dbo].[CategorySpecTemplates] ([TemplateID], [CategoryID], [SpecKey]) VALUES (3, 1, N'RAM')
SET IDENTITY_INSERT [dbo].[CategorySpecTemplates] OFF
GO
INSERT [dbo].[DataRetentionSettings] ([Id], [RetentionYears], [WarnIntervalMonths], [IsEnabled], [LastWarnDate]) VALUES (1, 1, 1, 1, NULL)
GO
INSERT [dbo].[ProductItems] ([ItemID], [ProductSerialNumber], [IsInStock], [DateAdded], [DateRemoved], [BatchMovementID]) VALUES (1, 100501, 0, CAST(N'2026-01-10T09:00:00.000' AS DateTime), CAST(N'2026-02-05T11:00:00.000' AS DateTime), 1)
INSERT [dbo].[ProductItems] ([ItemID], [ProductSerialNumber], [IsInStock], [DateAdded], [DateRemoved], [BatchMovementID]) VALUES (2, 100501, 0, CAST(N'2026-01-10T09:00:00.000' AS DateTime), CAST(N'2026-02-05T11:00:00.000' AS DateTime), 1)
INSERT [dbo].[ProductItems] ([ItemID], [ProductSerialNumber], [IsInStock], [DateAdded], [DateRemoved], [BatchMovementID]) VALUES (3, 100501, 0, CAST(N'2026-01-10T09:00:00.000' AS DateTime), CAST(N'2026-02-05T11:00:00.000' AS DateTime), 1)
GO
INSERT [dbo].[Products] ([ProductSerialNumber], [ProductName], [CategoryID], [Price]) VALUES (100501, N'Dell Latitude 5540', 1, CAST(3200.00 AS Decimal(18, 2)))
INSERT [dbo].[Products] ([ProductSerialNumber], [ProductName], [CategoryID], [Price]) VALUES (100502, N'HP EliteBook 840 G10', 1, CAST(370.00 AS Decimal(18, 2)))
INSERT [dbo].[Products] ([ProductSerialNumber], [ProductName], [CategoryID], [Price]) VALUES (100503, N'Lenovo ThinkPad E15', 1, CAST(2900.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[ProductSpecifications] ON 

INSERT [dbo].[ProductSpecifications] ([SpecID], [ProductSerialNumber], [SpecValue], [TemplateID]) VALUES (1, 100501, N'15.6 إنش FHD IPS', 1)
INSERT [dbo].[ProductSpecifications] ([SpecID], [ProductSerialNumber], [SpecValue], [TemplateID]) VALUES (2, 100501, N'Intel Core i7-1355U', 2)
INSERT [dbo].[ProductSpecifications] ([SpecID], [ProductSerialNumber], [SpecValue], [TemplateID]) VALUES (3, 100501, N'16 GB DDR4', 3)
SET IDENTITY_INSERT [dbo].[ProductSpecifications] OFF
GO
SET IDENTITY_INSERT [dbo].[StockMovements] ON 

INSERT [dbo].[StockMovements] ([MovementID], [ProductSerialNumber], [MovementType], [QuantityChanged], [MovementDate], [EmployeeID], [SupplierTaxNumber], [WarrantyMonths], [Notes]) VALUES (1, 100501, N'StockIn', 15, CAST(N'2026-01-10T09:00:00.000' AS DateTime), 200234781, 218551003, 24, N'دفعة الافتتاح - Dell Latitude 5540')
INSERT [dbo].[StockMovements] ([MovementID], [ProductSerialNumber], [MovementType], [QuantityChanged], [MovementDate], [EmployeeID], [SupplierTaxNumber], [WarrantyMonths], [Notes]) VALUES (2, 100502, N'StockIn', 10, CAST(N'2026-01-10T09:30:00.000' AS DateTime), 200234781, 218551003, 24, N'دفعة الافتتاح - HP EliteBook 840 G10')
INSERT [dbo].[StockMovements] ([MovementID], [ProductSerialNumber], [MovementType], [QuantityChanged], [MovementDate], [EmployeeID], [SupplierTaxNumber], [WarrantyMonths], [Notes]) VALUES (3, 100503, N'StockIn', 12, CAST(N'2026-01-11T10:00:00.000' AS DateTime), 199856923, 218551001, 24, N'دفعة الافتتاح - Lenovo ThinkPad E15')
SET IDENTITY_INSERT [dbo].[StockMovements] OFF
GO
SET IDENTITY_INSERT [dbo].[StorageZones] ON 

INSERT [dbo].[StorageZones] ([ZoneID], [ZoneName], [CategoryID]) VALUES (1, N'مخزن الحواسيب - رف A', 1)
INSERT [dbo].[StorageZones] ([ZoneID], [ZoneName], [CategoryID]) VALUES (2, N'مخزن الحواسيب - رف B', 1)
INSERT [dbo].[StorageZones] ([ZoneID], [ZoneName], [CategoryID]) VALUES (3, N'مخزن الطابعات - رف C', 2)
SET IDENTITY_INSERT [dbo].[StorageZones] OFF
GO
INSERT [dbo].[Suppliers] ([SupplierTaxNumber], [SupplierName], [Phone], [Email], [IsActive]) VALUES (218551001, N'مؤسسة التقنية الذهبية', N'0913456789', N'sales@goldentech.ly', 1)
INSERT [dbo].[Suppliers] ([SupplierTaxNumber], [SupplierName], [Phone], [Email], [IsActive]) VALUES (218551002, N'الأفق الرقمي للتجارة', N'0925678901', N'info@digitalhorizon.ly', 1)
INSERT [dbo].[Suppliers] ([SupplierTaxNumber], [SupplierName], [Phone], [Email], [IsActive]) VALUES (218551003, N'شركة النور للحاسبات', N'0911234567', N'orders@alnoor-pc.ly', 1)
GO
INSERT [dbo].[Users] ([EmployeeID], [Username], [Password], [Role], [IsAdmin], [ProfilePhoto]) VALUES (199012450, N'alaa.admin', N'123', N'System Administrator', 1, NULL)
INSERT [dbo].[Users] ([EmployeeID], [Username], [Password], [Role], [IsAdmin], [ProfilePhoto]) VALUES (199856923, N'fatima.clerk', N'123', N'Employee', 0, NULL)
INSERT [dbo].[Users] ([EmployeeID], [Username], [Password], [Role], [IsAdmin], [ProfilePhoto]) VALUES (200145678, N'omar.clerk', N'123', N'Employee', 0, NULL)
GO
/****** Object:  Index [IX_AL_LogTimestamp]    Script Date: 5/28/2026 1:17:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_AL_LogTimestamp] ON [dbo].[AuditLog]
(
	[LogTimestamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Categories_Name]    Script Date: 5/28/2026 1:17:41 PM ******/
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [UQ_Categories_Name] UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CST_Category_SpecKey]    Script Date: 5/28/2026 1:17:41 PM ******/
ALTER TABLE [dbo].[CategorySpecTemplates] ADD  CONSTRAINT [UQ_CST_Category_SpecKey] UNIQUE NONCLUSTERED 
(
	[CategoryID] ASC,
	[SpecKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CST_CategoryID]    Script Date: 5/28/2026 1:17:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_CST_CategoryID] ON [dbo].[CategorySpecTemplates]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PI_BatchMovementID]    Script Date: 5/28/2026 1:17:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_PI_BatchMovementID] ON [dbo].[ProductItems]
(
	[BatchMovementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PI_ProductSerialNumber]    Script Date: 5/28/2026 1:17:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_PI_ProductSerialNumber] ON [dbo].[ProductItems]
(
	[ProductSerialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_CategoryID]    Script Date: 5/28/2026 1:17:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryID] ON [dbo].[Products]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_PS_Product_Template]    Script Date: 5/28/2026 1:17:41 PM ******/
ALTER TABLE [dbo].[ProductSpecifications] ADD  CONSTRAINT [UQ_PS_Product_Template] UNIQUE NONCLUSTERED 
(
	[ProductSerialNumber] ASC,
	[TemplateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PS_ProductSerialNumber]    Script Date: 5/28/2026 1:17:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_PS_ProductSerialNumber] ON [dbo].[ProductSpecifications]
(
	[ProductSerialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SM_EmployeeID]    Script Date: 5/28/2026 1:17:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_SM_EmployeeID] ON [dbo].[StockMovements]
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SM_MovementDate]    Script Date: 5/28/2026 1:17:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_SM_MovementDate] ON [dbo].[StockMovements]
(
	[MovementDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SM_ProductSerialNumber]    Script Date: 5/28/2026 1:17:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_SM_ProductSerialNumber] ON [dbo].[StockMovements]
(
	[ProductSerialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SM_SupplierTaxNumber]    Script Date: 5/28/2026 1:17:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_SM_SupplierTaxNumber] ON [dbo].[StockMovements]
(
	[SupplierTaxNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_StorageZones_Name]    Script Date: 5/28/2026 1:17:41 PM ******/
ALTER TABLE [dbo].[StorageZones] ADD  CONSTRAINT [UQ_StorageZones_Name] UNIQUE NONCLUSTERED 
(
	[ZoneName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StorageZones_CategoryID]    Script Date: 5/28/2026 1:17:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_StorageZones_CategoryID] ON [dbo].[StorageZones]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Suppliers_Name]    Script Date: 5/28/2026 1:17:41 PM ******/
ALTER TABLE [dbo].[Suppliers] ADD  CONSTRAINT [UQ_Suppliers_Name] UNIQUE NONCLUSTERED 
(
	[SupplierName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_Username]    Script Date: 5/28/2026 1:17:41 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLog] ADD  CONSTRAINT [DF_AL_LogTimestamp]  DEFAULT (getdate()) FOR [LogTimestamp]
GO
ALTER TABLE [dbo].[DataRetentionSettings] ADD  DEFAULT ((1)) FOR [Id]
GO
ALTER TABLE [dbo].[DataRetentionSettings] ADD  DEFAULT ((3)) FOR [RetentionYears]
GO
ALTER TABLE [dbo].[DataRetentionSettings] ADD  DEFAULT ((3)) FOR [WarnIntervalMonths]
GO
ALTER TABLE [dbo].[DataRetentionSettings] ADD  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[ProductItems] ADD  CONSTRAINT [DF_PI_IsInStock]  DEFAULT ((1)) FOR [IsInStock]
GO
ALTER TABLE [dbo].[ProductItems] ADD  CONSTRAINT [DF_PI_DateAdded]  DEFAULT (getdate()) FOR [DateAdded]
GO
ALTER TABLE [dbo].[StockMovements] ADD  CONSTRAINT [DF_SM_MovementDate]  DEFAULT (getdate()) FOR [MovementDate]
GO
ALTER TABLE [dbo].[Suppliers] ADD  CONSTRAINT [DF_Suppliers_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsAdmin]  DEFAULT ((0)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[CategorySpecTemplates]  WITH CHECK ADD  CONSTRAINT [FK_CST_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategorySpecTemplates] CHECK CONSTRAINT [FK_CST_Category]
GO
ALTER TABLE [dbo].[ProductItems]  WITH CHECK ADD  CONSTRAINT [FK_PI_Movement] FOREIGN KEY([BatchMovementID])
REFERENCES [dbo].[StockMovements] ([MovementID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ProductItems] CHECK CONSTRAINT [FK_PI_Movement]
GO
ALTER TABLE [dbo].[ProductItems]  WITH CHECK ADD  CONSTRAINT [FK_PI_Product] FOREIGN KEY([ProductSerialNumber])
REFERENCES [dbo].[Products] ([ProductSerialNumber])
GO
ALTER TABLE [dbo].[ProductItems] CHECK CONSTRAINT [FK_PI_Product]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[ProductSpecifications]  WITH CHECK ADD  CONSTRAINT [FK_PS_Template] FOREIGN KEY([TemplateID])
REFERENCES [dbo].[CategorySpecTemplates] ([TemplateID])
GO
ALTER TABLE [dbo].[ProductSpecifications] CHECK CONSTRAINT [FK_PS_Template]
GO
ALTER TABLE [dbo].[ProductSpecifications]  WITH CHECK ADD  CONSTRAINT [FK_Specs_Product] FOREIGN KEY([ProductSerialNumber])
REFERENCES [dbo].[Products] ([ProductSerialNumber])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductSpecifications] CHECK CONSTRAINT [FK_Specs_Product]
GO
ALTER TABLE [dbo].[StockMovements]  WITH CHECK ADD  CONSTRAINT [FK_SM_Product] FOREIGN KEY([ProductSerialNumber])
REFERENCES [dbo].[Products] ([ProductSerialNumber])
GO
ALTER TABLE [dbo].[StockMovements] CHECK CONSTRAINT [FK_SM_Product]
GO
ALTER TABLE [dbo].[StockMovements]  WITH CHECK ADD  CONSTRAINT [FK_SM_Supplier] FOREIGN KEY([SupplierTaxNumber])
REFERENCES [dbo].[Suppliers] ([SupplierTaxNumber])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[StockMovements] CHECK CONSTRAINT [FK_SM_Supplier]
GO
ALTER TABLE [dbo].[StockMovements]  WITH CHECK ADD  CONSTRAINT [FK_SM_User] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Users] ([EmployeeID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[StockMovements] CHECK CONSTRAINT [FK_SM_User]
GO
ALTER TABLE [dbo].[StorageZones]  WITH CHECK ADD  CONSTRAINT [FK_Zone_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StorageZones] CHECK CONSTRAINT [FK_Zone_Category]
GO
ALTER TABLE [dbo].[StockMovements]  WITH CHECK ADD  CONSTRAINT [CK_SM_Type] CHECK  (([MovementType]='ReturnToSupplier' OR [MovementType]='Restock' OR [MovementType]='StockOut' OR [MovementType]='StockIn'))
GO
ALTER TABLE [dbo].[StockMovements] CHECK CONSTRAINT [CK_SM_Type]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([Role]='System Administrator' OR [Role]='Employee'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
/****** Object:  StoredProcedure [dbo].[sp_PurgeOldData]    Script Date: 5/28/2026 1:17:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- sp_PurgeOldData
-- Permanently deletes old records from AuditLog and ProductItems.
-- @OlderThanYears : delete records older than this many years
-- @AuditLogDeleted    OUTPUT : rows deleted from AuditLog
-- @ProductItemsDeleted OUTPUT : rows deleted from ProductItems
-- ============================================================
CREATE   PROCEDURE [dbo].[sp_PurgeOldData]
    @OlderThanYears      INT,
    @AuditLogDeleted     INT OUTPUT,
    @ProductItemsDeleted INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM AuditLog
    WHERE LogTimestamp < DATEADD(YEAR, -@OlderThanYears, GETDATE());
    SET @AuditLogDeleted = @@ROWCOUNT;

    DELETE FROM ProductItems
    WHERE IsInStock    = 0
      AND DateRemoved IS NOT NULL
      AND DateRemoved  < DATEADD(YEAR, -@OlderThanYears, GETDATE());
    SET @ProductItemsDeleted = @@ROWCOUNT;
END;
GO
ALTER AUTHORIZATION ON [dbo].[sp_PurgeOldData] TO  SCHEMA OWNER 
GO
/****** Object:  Trigger [dbo].[tr_Products_Audit]    Script Date: 5/28/2026 1:17:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Trigger Products
CREATE TRIGGER [dbo].[tr_Products_Audit]
ON [dbo].[Products]
AFTER INSERT, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM inserted)
       AND NOT EXISTS (SELECT 1 FROM deleted)
    BEGIN
        INSERT INTO AuditLog (ActionType, [Description], Username)
        SELECT
            'PRODUCT ADDED',
            'New product: [' + CAST(i.ProductSerialNumber AS VARCHAR(20)) + '] ' + i.ProductName
                + ' | Category: ' + ISNULL(c.CategoryName, 'Unknown')
                + ' | Price: '    + CAST(i.Price AS VARCHAR(20)),
            'System'
        FROM inserted i
        LEFT JOIN Categories c ON c.CategoryID = i.CategoryID;
    END

    IF EXISTS (SELECT 1 FROM deleted)
       AND NOT EXISTS (SELECT 1 FROM inserted)
    BEGIN
        INSERT INTO AuditLog (ActionType, [Description], Username)
        SELECT
            'PRODUCT DELETED',
            'Product removed: [' + CAST(d.ProductSerialNumber AS VARCHAR(20)) + '] ' + d.ProductName,
            'System'
        FROM deleted d;
    END
END;

GO
ALTER TABLE [dbo].[Products] ENABLE TRIGGER [tr_Products_Audit]
GO
/****** Object:  Trigger [dbo].[tr_StockMovements_Audit]    Script Date: 5/28/2026 1:17:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Trigger StockMovements
CREATE TRIGGER [dbo].[tr_StockMovements_Audit]
ON [dbo].[StockMovements]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO AuditLog (ActionType, [Description], Username)
    SELECT
        'STOCK ' + UPPER(i.MovementType),
        'Product [' + CAST(i.ProductSerialNumber AS VARCHAR(20)) + ']: '
            + CAST(i.QuantityChanged AS VARCHAR(10)) + ' units'
            + ISNULL('. Supplier: '  + s.SupplierName, '')
            + ISNULL('. Notes: '     + i.Notes,        ''),
        ISNULL(u.Username, 'System')
    FROM inserted i
    LEFT JOIN Users     u ON u.EmployeeID        = i.EmployeeID
    LEFT JOIN Suppliers s ON s.SupplierTaxNumber = i.SupplierTaxNumber;
END;

GO
ALTER TABLE [dbo].[StockMovements] ENABLE TRIGGER [tr_StockMovements_Audit]
GO
/****** Object:  Trigger [dbo].[tr_Suppliers_Audit]    Script Date: 5/28/2026 1:17:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ============================================================
--  TRIGGER 4: tr_Suppliers_Audit
--  Logs supplier additions and removals — important for
--  procurement auditing.
-- ============================================================
CREATE TRIGGER [dbo].[tr_Suppliers_Audit]
ON [dbo].[Suppliers]
AFTER INSERT, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    -- INSERT branch
    IF EXISTS (SELECT 1 FROM inserted)
       AND NOT EXISTS (SELECT 1 FROM deleted)
    BEGIN
        INSERT INTO AuditLog (ActionType, [Description], Username)
        SELECT
            'SUPPLIER ADDED',
            'New supplier: ' + i.SupplierName
                + ' | TaxNumber: ' + CAST(i.SupplierTaxNumber AS VARCHAR(20))
                + ISNULL(' | Phone: ' + i.Phone, '')
                + ISNULL(' | Email: ' + i.Email, ''),
            'System'
        FROM inserted i;
    END

    -- DELETE branch
    IF EXISTS (SELECT 1 FROM deleted)
       AND NOT EXISTS (SELECT 1 FROM inserted)
    BEGIN
        INSERT INTO AuditLog (ActionType, [Description], Username)
        SELECT
            'SUPPLIER DELETED',
            'Supplier removed: ' + d.SupplierName,
            'System'
        FROM deleted d;
    END
END;

GO
ALTER TABLE [dbo].[Suppliers] ENABLE TRIGGER [tr_Suppliers_Audit]
GO
/****** Object:  Trigger [dbo].[tr_Users_Audit]    Script Date: 5/28/2026 1:17:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ============================================================
--  TRIGGER 3: tr_Users_Audit
--  Security-critical — logs all user account changes.
-- ============================================================
CREATE TRIGGER [dbo].[tr_Users_Audit]
ON [dbo].[Users]
AFTER INSERT, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    -- INSERT branch
    IF EXISTS (SELECT 1 FROM inserted)
       AND NOT EXISTS (SELECT 1 FROM deleted)
    BEGIN
        INSERT INTO AuditLog (ActionType, [Description], Username)
        SELECT
            'USER ADDED',
            'New user: ' + i.Username + ' (' + i.[Role] + ') — EmployeeID: '
                + CAST(i.EmployeeID AS VARCHAR(20)),
            'System'
        FROM inserted i;
    END

    -- DELETE branch
    IF EXISTS (SELECT 1 FROM deleted)
       AND NOT EXISTS (SELECT 1 FROM inserted)
    BEGIN
        INSERT INTO AuditLog (ActionType, [Description], Username)
        SELECT
            'USER DELETED',
            'User removed: ' + d.Username + ' (' + d.[Role] + ')',
            'System'
        FROM deleted d;
    END
END;

GO
ALTER TABLE [dbo].[Users] ENABLE TRIGGER [tr_Users_Audit]
GO
